.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.section-login{
    width: 100%;
    padding: 0px 15% 0px 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-login .content{
    width: 56%;
    margin-right: 8%;
    padding-bottom: 8%;
    padding-left: 6%;
}

.section-login .content .content__title{
    font-size: 3.5rem;
   
    color: #1877f2;
    margin-bottom: 12px;
}

.section-login .content .content__text{
    width: 100%;
    font-size: 1.7rem;
    color: #222;
}



